
@{
    ViewBag.Title = "DescribeMySelf";
}

<h2>Describe My Self</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <td>Binod Dahal</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>26</td>
    </tr>
    <tr>
        <th>Student ID</th>
        <td>20032608</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>IT</td>
    </tr>
    <tr>
        <th>Nationality</th>
        <td>Nepali</td>
    </tr>
    <tr>
        <th>Favourite Food</th>
        <td>Momo</td>
    </tr>
</table>

<p>This is version 3 for GitHub Task</p>